{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOTECH DEVELOPMENT</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">

        <div class="bar">
            <nav>
                <img src="{% static 'images/an.png' %}" alt="">
                <ul>
                    <li><a href="">Services</a></li>
                    <li><a href="">Company</a></li>
                    <li><a href="">Blog</a></li>
                    <button><a href=""> Get In Touch</a></button>
                </ul>
            </nav>
        </div>
       

        <div class="page1">
            <h1>BOTECH DEVELOPMENT</h1>
            <p>Delivering on demand tech experience for startups and enterprises by</p>
            <p>leveraging the latest technology</p>
            <button><a href="">GET IN TOUCH</a></button>
        </div>

        <div class="page2">
            <h1>WHO WE ARE</h1>
            <p>We are a digital transformatin consultancy and software development
            company that provides cutting edges tech solutions, helping companies</p>
            <p>and enterprise untangle complex issues that always emerge during their
            digital evolution journey.</p>
            <button><a href=""><span>TALK TO OUR TEAM</span></a></button>
        </div>

        <h1>WHAT WE OFFER</h1>

        <div class="page3">
            <div class="p1">

             <div class="part1">
                <img src="" alt="">
                <h2>WEB DEVELOPMENT</h2>
                <p>Create complex quality and customize</p>
                <p>web app or site. We ensure reliability</p>
                <p>software integration, modernize your</p>
                <p>legacy system</p>
                </div>
                <div class="part2">
                <img src="" alt="">
                <h2>Mobile App DEVELOPMENT</h2>
                <p>Create complex quality and custom</p>
                <p>web app or site. We ensure reliability</p>
                <p>software integration, modernize your</p>
                <p>legacy system</p>
                </div>

             </div>

                <div class="p2">
                <div class="part3">
                <img src="" alt="">
                <h2>Desktop App DEVELOPMENT</h2>
                <p>Create complex quality and custom</p>
                <p>web app or site. We ensure reliability</p>
                <p>software integration, modernize your</p>
                <p>legacy system</p>
                </div>

            <div class="part4">
                <img src="" alt="">
                <h2>Graphic Designing</h2>
                <p>Create complex quality and custom</p>
                <p>web app or site. We ensure reliability</p>
                <p>software integration, modernize your</p>
                <p>legacy system</p>
            </div>

                </div>
            
                <div class="p3">
            <div class="part5">
                <img src="" alt="">
                <h2>Video Editing</h2>
                <p>Create complex quality and custom</p>
                <p>web app or site. We ensure reliability</p>
                <p>software integration, modernize your</p>
                <p>legacy system</p>
            </div>

            <div class="part6">
                <img src="" alt="">
                <h2>Mentorships</h2>
                <p>Create complex quality and custom</p>
                <p>web app or site. We ensure reliability</p>
                <p>software integration, modernize your</p>
                <p>legacy system</p>
            </div>

        </div>

     </div>

       <div class="page4">
        <div class="a1">
            <h2>Contacts</h2>
            <h2>Company</h2>
            <h2>Services</h2>
        </div>

        <div class="a2">
            <p><a href="">botechdevelopments@gmail.com</a></p>
            <p class="about"><a href="">About</a></p>
            <p>Web development</p>
        </div>

        <div class="a3">
            <p><a href="">+233 24 920 9171</a></p>
            <p class="team"><a href="">Team</a></p>
            <p class="desktop">Desktop development</p>
        </div>

        <div class="a4">
            <p><a href="">+233 24 522 7067</a></p>
            <p class="career"><a href="">Careers</a></p>
            <p class="logo">Logo Making</p>
        </div>

        <div class="a5">
            <p><a href="">+233 55 733 0571</a></p>
            <p class="blog"><a href="">Blog</a></p>
            <p class="mobile">Mobile development</p>
        </div>

        <div class="a6">
            <p class="news"><a href="">News</a></p>
            <p class="graphic">Graphic Designing</p>
        </div>

       </div>

       <div class="copy">
        <a href="http://">BOTECH DEVELOPMENTS</a>  &copy 2021
     </div>
    
     <div class="social">
        <div class="s1">
            <img src="{% static 'images/f.png' %}" alt="">
        </div>

        <div class="s2">
            <img src="{% static 'images/whatsapp.png' %}" alt="">
        </div>

        <div class="s3">
            <img src="{% static 'images/t.png' %}" alt="">
        </div>

        <div class="s4">
            <img src="{% static 'images/y.png' %}" alt="">
        </div>

     </div>


    </div>  
</body>
</html>